<div class="row">
    <div>
        <h2 mat-dialog-title class="editar-meus-dados">Alterar Senha</h2>
    </div>
    <div>
        <mat-icon mat-dialog-close class="clear">clear</mat-icon>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <br />
    <form class="formulario-meu-perfil" [formGroup]="meuPerfilPasswordForm">
        <div class="col-12" id="formulario-meu-perfil-modal">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Senha Atual</mat-label>
                    <input type="password" matInput formControlName="oldPassword" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-12" id="formulario-meu-perfil-modal">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Nova Senha</mat-label>
                    <input type="password" matInput [errorStateMatcher]="matcher" formControlName="newPassword" />
                    <mat-error *ngIf="!meuPerfilPasswordForm.get('newPassword').hasError('required') &&
                meuPerfilPasswordForm.get('newPassword').hasError('passwordsNotMatching')">
                        As senhas devem ser iguais
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-12" id="formulario-meu-perfil-modal">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmar Nova Senha</mat-label>
                    <input type="password" matInput [errorStateMatcher]="matcher"
                        formControlName="confirmNewPassword" />
                    <mat-error *ngIf="!meuPerfilPasswordForm.get('confirmNewPassword').hasError('required') &&
                meuPerfilPasswordForm.get('confirmNewPassword').hasError('passwordsNotMatching')">
                        As senhas devem ser iguais
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button mat-raised-button class="btnAcao" (click)="atualizarSenha()">
        <mat-icon>done</mat-icon>&nbsp; Atualizar Senha
    </button>
</mat-dialog-actions>