.content-div{
  display: block !important;
  margin: 0px 90px !important;
  padding: 0 24px !important;
  max-height: 65vh!important;
  overflow: auto !important;
}

.btn-enviar{
  margin-bottom: 1rem;
}

.btnAcao{
  color: black;
  background-color: #F5D556;
  margin-left: 6.5rem;
  margin-bottom: 1rem;
}

.editar-meus-dados{
  margin-left: 7rem;
}

.eficacia{
  width: 22rem;
}

textarea:focus, input:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.arrumar-card{
  width:23rem;
}

.clear{
  margin-left: 5rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.passo-plano{
  margin-left: -0.5rem;
}

@media (max-width: 450px){

  .btn-amarelo{
    margin-left: -19%;
  }

  .arrumar-card{
    width: 23rem;
  }
  
  .editar-meus-dados{
    margin-left: 42px;
  }

  .eficacia{
    width: 17rem;
  }

  .clear{
    margin-left: 1rem;
    margin-top: -0.5rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .content-div{
    display: block !important;
    margin: 0px 90px !important;
    padding: 0 24px !important;
    max-height: 65vh!important;
    overflow: auto !important;
  }

  .btnAcao {
    margin-left: 3.5rem;
  }
}
