<div aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="modal-header">
      <h3 class="modal-title" mat-dialog-title>Ocorrência - detalhes</h3>
      <button title="button" type="button" class="close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div>
        <h3>
          No dia <strong>14/06/2023</strong>, às <strong>19:15</strong>, o funcionário <strong>Francisco José</strong> , do setor de <strong>Coleta</strong>,
          sendo a sua supervisora <strong>Angela Maria</strong>, realizou/presenciou a(s) seguinte(s) ocorrências(s):
          <strong>Atraso na liberação do laudo</strong>, ocorrida(s) no setor(es) <strong>Coleta</strong>, supervisionado(s) por <strong>Angela Maria</strong>,
          sendo essa(s) ocorrências(s) caracterizada(s) como: <strong>De Processo</strong>. E classificada(s) como: <strong>Evento adverso leve</strong>.
          A(s) pessoa(s) envolvida(s) na ocorrência além da funcionária é/são: <strong>Brenno, Danilo</strong>. A ação imediata tomada pela funcionária
          foi <strong>o cadastro da não conformidade</strong>. Após análise da(s) não conformidade(s) acometida(s), a supervisora do setor do ocorrido, <strong>Angela Maria</strong>,
          descreveu como análise da causa raiz o seguinte: <strong>a</strong>. Na análise da ocorrência, foram respondidos os 5 porquês.
          <strong>1º Porquê? a</strong> ; <strong>2º Porquê? a</strong>;<strong>3º Porquê? a</strong>; <strong>4º Porquê? a</strong>; <strong>5º Porquê? a</strong>.
          Após essa análise foi elaborado um plano de
          ação para visualizar os detalhes de forma mais aprofundada, para solucionar o problema e evitar futuros erros, sendo
          utilizada a ferramenta <strong>5W2H</strong>, onde foi descrita da seguinte forma: <strong>O que? a; Por que? a; Onde? a; Quando? a; Quem? a; Como? a; Quanto?  a.</strong>
          A análise de risco foi definida como: <strong> Evento adverso moderado</strong>. Após o período de espera para verificação da eficácia, foi verificado que: <strong>a</strong>.
        </h3>
      </div>
  </div>
  <div class="modal-footer" mat-dialog-actions>
      <button mat-button type="button" class="btn btn-amarelo" (click)="sendReportEmailById('1')">
        Enviar por e-mail
      </button>
      <button mat-dialog-close type="button" class="btn btn-amarelo">
          OK
      </button>
  </div>
</div>