<div class="row">
    <h2 class="titulo">Análise de Relatório</h2>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group mt-3">
            <div class="btn bg-white text-black" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="findOccurrenceForReport(); closeOpenMonthViewDay()">
                Mês Anterior
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="findOccurrenceForReport()">
                Hoje
            </div>
            <div class="btn bg-white text-black" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="findOccurrenceForReport(); closeOpenMonthViewDay()">
                Próximo Mês
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="data-mes">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>
    </div>
    <div class="col-md-4">
        <form [formGroup]="setorForm">
            <mat-form-field>
                <mat-label>Setor</mat-label>
                <mat-select (selectionChange)="findOccurrenceForReport()" formControlName="setor">
                    <mat-option *ngFor="let setor of setores" [value]="setor.id">
                        {{setor.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>
<br />
<div [ngSwitch]="view" class="ScrollStyle">
    <mwl-calendar-month-view [locale]="locale" [refresh]="refresh" *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view [locale]="locale" *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view [locale]="locale" *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>


