<bubble-effect></bubble-effect>
<div class="relative overflow-hidden lg:flex md:grid h-screen">
   <div class=" lg:w-1/2 lg:h-screen">
      <!-- <svg class="absolute inset-y-0 left-0 hidden h-[53rem] w-[22rem] ml-[-11rem] transform color_padrao lg:block"
        fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg> -->
      <img class="h-full w-full object-cover sm:h-72 md:h-96 lg:h-full lg:w-full" src="./assets/biomedic.png"
        alt="">
    </div>
    
   <div class="mx-auto max-w-7xl xl:max_height ">
     <div class="lg:mt-56 relative z-10 pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32 grid center text-center justify-center">
      <div>
         <!-- <img class="mx-auto h-12 w-auto" src="../../../../assets/4lab-logo-2.png" alt="Your Company"> -->
         <h1 class="login_title mt-6 text-center text-4xl font-bold tracking-tight text-teal-900 sm:text-5xl md:text-6xl">RNC</h1>
      
         <div class="mt-24 flex center justify-center text-center">
            <h2 class="text-3xl font-bold tracking-tight text-teal-900 sm:text-4xl md:text-5xl">
               <span class=" text-center center">Sistema ainda em desenvolvimento</span>
             </h2>
         </div>
         <div class="mt-24 flex center justify-center text-center">
         <img class="lg:w-24 lg:h-24 w-16 h-16 rotate text-center" src="./assets/development.png" alt="">
      </div>
        
        
       </div>
     </div>
 
   </div>
   
 </div>
 

