
<div class="uc__wrapper">
  <div class="uc__details">
    <div class="top-5 left-5 position-absolute">
      <button (click)="voltar()" mat-fab class="bg-yellow-300 " aria-label="Example icon button with a delete icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <h1 class="title">Em breve!</h1>
    <h3 class="intro">
      ESTAMOS TRABALHANDO PARA LHE OFERECER UMA MELHOR EXPERIÊNCIA.
    </h3>
    <p class="uc__description">
      O site irá ao ar muito em breve...
    </p>
  </div>
  <div class="uc__art">
    <img src="assets/under_construction.svg" alt="" />
  </div>
</div>
