<div class="arrumar-card">
  <h1 class="titulo-4lab">SOBRE O {{projectName}}</h1>
  <img class="logo" src="../../../../../../assets/logo-rnc-6.png">
  <br>
  <div class="arrumar-card">
    <h2>Revolução no registro de dados laboratoriais </h2>
    <p class="primeiro-texto">O {{projectName}}, é um site que traz a informatização para uma etapa
      de
      fundamental
      importância dentro de um
      laboratório clínico, o controle de qualidade. Surgiu com a perspectiva de reduzir e monitorar erros laboratoriais,
      diminuindo a
      utilização de papel como forma de registro, proporcionando maior praticidade, produtividade, controle, redução de
      custos e menor
      tempo de trabalho manual. Essa inovação tecnológica também auxiliará no processo da acreditação laboratorial,
      indispensável para que um
      laboratório tenha credibilidade e qualidade.</p>

    <h2>Idealizadoras</h2>
    <ul>
      <li>Hevelyn Novaes Caldas</li>
      <li>Luana De Souza Calazans</li>
      <li>Maria Patrícia De Jesus Santos</li>
      <li>Rayssa Do Couto Santos</li>
      <li>Wandna Alves Dias</li>
    </ul>
    <h2>Orientadores</h2>
    <ul>
      <li>Ana Paula Barreto Prata Silva</li>
      <li>Camilla Figueiredo Chianca</li>
      <li>Fabio Batista Santos</li>
      <li>Ingridy Evangelista Viana Lucena</li>
      <li>Patrícia de Oliveira Santos Almeida</li>
      <li>Virgilio Antônio do Nascimento Cardoso de Faro</li>
    </ul>
    <h2>Desenvolvedores</h2>
    <ul>
      <li>Amadeu Martim Silva De Oliveira</li>
      <li>Brenno Santos Oliveira</li>
      <li>Cristiano Macedo Guimarães de Oliveira</li>
      <li>Danilo Michell Lisboa de Freitas</li>
      <li>Francisco José dos Santos Santana</li>
      <li>Gledson de Carvalho Santos</li>
      <li>Paulo Henrique Medeiros Bittencourt</li>
      <li>Vinícius José Santana de Mendonça</li>
      <li>Yan Kelvin Oliveira Soares</li>
    </ul>
  </div>
  <div class="espaco-voltar-ao-login">
    <hr class="d-flex justify-content-center">
    <h4 class="d-flex justify-content-center voltar-ao-login" mat-dialog-close><a>Voltar ao login</a></h4>
  </div>
</div>