<div class="section_login" id="bg">
  <ul id="shape">
    <li id="green"></li>
    <li id="yellow"></li>
    <li id="green"></li>
    <li id="yellow"></li>
    <li id="green"></li>
    <li id="yellow"></li>
    <li id="green"></li>
    <li id="yellow"></li>
  </ul>
</div>
<div class="bg-gray-50 flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

  <div class="relative  w-full max-w-md space-y-8">
    <div>
      <!-- <img class="mx-auto h-12 w-auto" src="../../../../assets/4lab-logo-2.png" alt="Your Company"> -->
      <h2 class="login_title mt-6 text-center text-3xl font-bold tracking-tight text-teal-900">RNC</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Um sistema para
        <a href="#" class="font-medium text-teal-600 hover:text-teal-500 hover:no-underline">Registro de Não
          Conformidades</a>
      </p>
    </div>
    <form (submit)="login()" class="mt-8 space-y-6" [formGroup]="FLabLoginForm" novalidate>
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md ">
        <div>
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Ex.: joaopassos@souunit.com.br" formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a (click)="sobreNos();"
            class="font-bold hover:no-underline text-teal-600 hover:text-teal-500 cursor-pointer">Sobre
            o
            Projeto</a>
        </div>

        <div class="text-sm">
          <a [routerLink]="['/forgot-password']"
            class="font-bold hover:no-underline text-teal-600 hover:text-teal-500">Esqueci minha
            senha</a>
        </div>
      </div>
      <div>
        <button type="submit" class="group relative flex w-full justify-center
            rounded-md border border-transparent bg-yellow-400 py-2
            px-4 text-sm font-bold text-white hover:bg-yellow-500
            focus:outline-none">
          ENTRAR
        </button>
      </div>
      <div class="flex flex-col w-full border-opacity-50">
        <div class="divider">OU</div>
        <div class="text-sm text-center">
          <a [routerLink]="['/register']" class="font-bold hover:no-underline text-teal-600 hover:text-teal-500">Não
            possui
            conta?&nbsp; Cadastre-se</a>
        </div>
      </div>
    </form>
  </div>
</div>
