<div class="global-container">
    <div class="card d-flex justify-content-center">
        <div class=" card-body">
            <h1 class="title d-flex justify-content-center">RECUPERE A SENHA</h1>
            <h4 id="texto-esqueci-senha">Insira o seu email e enviaremos uma nova senha de acesso para a sua conta.
            </h4>
            <div class="card-text">
                <form novalidate (submit)="esqueciSenha()">
                    <div class="row">
                        <mat-form-field class="col-12" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex.: joaopassos@souunit.com.br" [formControl]="email">
                        </mat-form-field>
                    </div>
                    <div class="justify-content-center">
                        <button mat-raised-button id="botao-enviar" type="submit">
                            <mat-icon>send</mat-icon> ENVIAR EMAIL
                        </button>
                    </div>
                    <hr>
                    <h4 class="d-flex justify-content-center">&nbsp; <a [routerLink]="['/login']">Voltar ao login</a>
                    </h4>
                </form>
            </div>
        </div>
    </div>
</div>